@using FourEngineeringForum.Repositorio

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Four Engineering Forum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Fórum", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cadastre-se", "Adicionar", "Usuario")</li>
                    <li>@Html.ActionLink("Tópicos", "Index", "Topico")</li>
                    <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                </ul>
                <form method="post" action="/Login/FinalizarSessao" id="frmSessao" class="navbar-right">
                    @{
                        var msgVisitante = "Olá visitante!";
                        var usuarioLogado = AutenticarUsuario.RetornarUsuarioDaSessao();
                        if (usuarioLogado == null)
                        {
                            <label style="color:White"> @msgVisitante </label>
                        }
                        else
                        {
                            <label style="color:White"> @usuarioLogado.Nome </label>
                        }
                    }
                    <input type="submit" value="Entrar/Sair" class="btn btn-default" />
                </form>
            </div>

        </div>
    </div>
    
    <div class="container body-content">
        
        @RenderBody()
        <hr />
        <footer>
            <p>© @DateTime.Now.Year - 4Tune Enegineering Forum</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
